body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange_color{
    color: orange;
    
}
section{
    display: flex;
}
.half_width{
    width: 80%;
    padding-left: 5%;
}
.half_width img{
    width: 80%;
    padding: 5%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato );
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 50px;
}
.dream-width img{
    width: 80%;
    padding: 5%;
}
.dream-widdth{
    width: 80%;
    padding: 5%;

}
.fontt-color{
    color:gray;
}
.download-button{
    text-decoration: none;
    background-color:mediumpurple;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 50px;
}
.display-type{
    display: block;
}
#siz{
    font-size: 30px;
    color:dimgray;
}
#sij{
    font-size: 20px;
    color: dimgray;
}