body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange_color{
    color: orange;
    
}
section{
    display: flex;
}
.half_width{
    width: 80%;
    padding-left: 5%;
}
.half_width img{
    width: 80%;
    padding: 5%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato );
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 50px;
}
.dream-width img{
    width: 80%;
    padding: 5%;
}
.dream-widdth{
    width: 80%;
    padding: 5%;

}
.fontt-color{
    color:gray;
}
.download-button{
    text-decoration: none;
    background-color:mediumpurple;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 50px;
}
.display-type{
    display: block;
    background-image: url(simple-portfolio-master/img/home-banner.png);
    padding: 5%;
    border-left: 5px solid grey;
}
#siz{
    font-size: 30px;
    color:dimgray;
    padding-left: 5%;
}
#sij{
    font-size: 20px;
    color: dimgray;
    padding-left: 6%;
}
#ble{
    color: blue;
    font-size: 18px;
    padding-left: 6%;
}
#org{
    padding-left: 6%;
    padding-right: 6%;
}
#bby-c{
    font-size: 20px;
    color: dimgray;
    padding-left: 6%;
}
#bb-c{
    color: blue;
    font-size: 18px;
    padding-left: 6%;
}
#b-c{
    padding-left: 6%;
    padding-right: 6%;
}
footer p{
    text-align: center;
    font-size: 12px;
}